.col-ms-1,.col-ms-2,.col-ms-3,.col-ms-4,.col-ms-5,.col-ms-6,.col-ms-7,.col-ms-8,.col-ms-9,.col-ms-10,.col-ms-11,.col-ms-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media(min-width:480px) and (max-width:767px) {
  .col-ms-1,.col-ms-2,.col-ms-3,.col-ms-4,.col-ms-5,.col-ms-6,.col-ms-7,.col-ms-8,.col-ms-9,.col-ms-10,.col-ms-11 {
    float: left
  }

  .col-ms-1 {
    width: 8.33333%
  }

  .col-ms-2 {
    width: 16.66667%
  }

  .col-ms-3 {
    width: 25%
  }

  .col-ms-4 {
    width: 33.33333%
  }

  .col-ms-5 {
    width: 41.66667%
  }

  .col-ms-6 {
    width: 50%
  }

  .col-ms-7 {
    width: 58.33333%
  }

  .col-ms-8 {
    width: 66.66667%
  }

  .col-ms-9 {
    width: 75%
  }

  .col-ms-10 {
    width: 83.33333%
  }

  .col-ms-11 {
    width: 91.66667%
  }

  .col-ms-12 {
    width: 100%
  }

  .col-ms-push-1 {
    left: 8.33333%
  }

  .col-ms-push-2 {
    left: 16.66667%
  }

  .col-ms-push-3 {
    left: 25%
  }

  .col-ms-push-4 {
    left: 33.33333%
  }

  .col-ms-push-5 {
    left: 41.66667%
  }

  .col-ms-push-6 {
    left: 50%
  }

  .col-ms-push-7 {
    left: 58.33333%
  }

  .col-ms-push-8 {
    left: 66.66667%
  }

  .col-ms-push-9 {
    left: 75%
  }

  .col-ms-push-10 {
    left: 83.33333%
  }

  .col-ms-push-11 {
    left: 91.66667%
  }

  .col-sm-push-12 {
    left: 100%
  }

  .col-ms-pull-1 {
    right: 8.33333%
  }

  .col-ms-pull-2 {
    right: 16.66667%
  }

  .col-ms-pull-3 {
    right: 25%
  }

  .col-ms-pull-4 {
    right: 33.33333%
  }

  .col-ms-pull-5 {
    right: 41.66667%
  }

  .col-ms-pull-6 {
    right: 50%
  }

  .col-ms-pull-7 {
    right: 58.33333%
  }

  .col-ms-pull-8 {
    right: 66.66667%
  }

  .col-ms-pull-9 {
    right: 75%
  }

  .col-ms-pull-10 {
    right: 83.33333%
  }

  .col-ms-pull-11 {
    right: 91.66667%
  }

  .col-ms-pull-12 {
    right: 100%
  }

  .col-ms-offset-1 {
    margin-left: 8.33333%
  }

  .col-ms-offset-2 {
    margin-left: 16.66667%
  }

  .col-ms-offset-3 {
    margin-left: 25%
  }

  .col-ms-offset-4 {
    margin-left: 33.33333%
  }

  .col-ms-offset-5 {
    margin-left: 41.66667%
  }

  .col-ms-offset-6 {
    margin-left: 50%
  }

  .col-ms-offset-7 {
    margin-left: 58.33333%
  }

  .col-ms-offset-8 {
    margin-left: 66.66667%
  }

  .col-ms-offset-9 {
    margin-left: 75%
  }

  .col-ms-offset-10 {
    margin-left: 83.33333%
  }

  .col-ms-offset-11 {
    margin-left: 91.66667%
  }

  .col-ms-offset-12 {
    margin-left: 100%
  }}

@media(min-width:480px) and (max-width:767px) {
  .container {
    max-width: 748px
  }

  .form-horizontal .form-group .control-label {
    text-align: right
  }}

.visible-ms {
  display: none!important
}

.visible-ms-block,.visible-ms-inline,.visible-ms-inline-block {
  display: none!important
}

@media(min-width:480px) and (max-width:767px) {
  .visible-ms {
    display: block!important
  }

  table.visible-ms {
    display: table
  }

  tr.visible-ms {
    display: table-row!important
  }

  th.visible-ms,td.visible-ms {
    display: table-cell!important
  }}

@media(min-width:480px) and (max-width:767px) {
  .visible-ms-block {
    display: block!important
  }}

@media(min-width:480px) and (max-width:767px) {
  .visible-ms-inline {
    display: inline!important
  }}

@media(min-width:480px) and (max-width:767px) {
  .visible-ms-inline-block {
    display: inline-block!important
  }}

@media(min-width:768px) and (max-width:991px) {
  .hidden-ms {
    display: none!important
  }}

.checkbox label .toggle,.checkbox-inline .toggle {
  margin-left: -20px;
  margin-right: 5px
}

.toggle {
  position: relative;
  overflow: hidden
}

.toggle input[type=checkbox] {
  display: none
}

.toggle-group {
  position: absolute;
  width: 200%;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left .35s;
  -webkit-transition: left .35s;
  -moz-user-select: none;
  -webkit-user-select: none
}

.toggle.off .toggle-group {
  left: -100%
}

.toggle-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  margin: 0;
  border: 0;
  border-radius: 0
}

.toggle-off {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0;
  border: 0;
  border-radius: 0
}

.toggle-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  width: 0;
  border-width: 0 1px
}

.toggle.btn {
  min-width: 59px;
  min-height: 34px
}

.toggle-on.btn {
  padding-right: 24px
}

.toggle-off.btn {
  padding-left: 24px
}

.toggle.btn-lg {
  min-width: 79px;
  min-height: 45px
}

.toggle-on.btn-lg {
  padding-right: 31px
}

.toggle-off.btn-lg {
  padding-left: 31px
}

.toggle-handle.btn-lg {
  width: 40px
}

.toggle.btn-sm {
  min-width: 50px;
  min-height: 30px
}

.toggle-on.btn-sm {
  padding-right: 20px
}

.toggle-off.btn-sm {
  padding-left: 20px
}

.toggle.btn-xs {
  min-width: 35px;
  min-height: 22px
}

.toggle-on.btn-xs {
  padding-right: 12px
}

.toggle-off.btn-xs {
  padding-left: 12px
}

#scrollUp {
  width: 30px;
  height: 30px;
  line-height: 30px;
  bottom: 20px;
  right: 20px;
  background-color: #555;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  opacity: .6;
  padding: 1px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  -o-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
  text-align: center;
  vertical-align: middle;
  outline: 0
}

#scrollUp:hover {
  background-color: #df0070;
  opacity: .8;
  outline: 0
}

.cookie-bar__inner {
  background-color: #000;
  color: #fff;
  font-size: .875rem;
  padding: .375rem .5rem;
  text-align: center
}

@media(min-width:62rem) {
  .cookie-bar__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }}

.cookie-bar__buttons {
  display: block;
  margin-top: .375rem
}

@media(min-width:62rem) {
  .cookie-bar__buttons {
    display: inline;
    margin-top: 0
  }}

.cookie-bar__btn {
  background-color: #0275d8;
  color: #fff;
  border: none;
  margin: 0 .875rem;
  padding: .125rem .875rem;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer
}

.cookie-bar__btn:hover {
  background-color: #0267bf
}

.cookie-bar__btn:active {
  background-color: #0262b5
}

.cookie-bar__link {
  margin: 0 .5rem
}

.cookie-bar a {
  color: #fff;
  text-decoration: underline
}

.cookie-bar a:hover {
  text-decoration: none
}

.cookie-bar-privacy-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.cookie-bar-privacy-popup.cookie-bar-privacy-popup--hidden {
  display: none
}

.cookie-bar-privacy-popup__dialog {
  background-color: #fff;
  width: 100%;
  max-width: 50rem;
  max-height: 90vh;
  overflow: auto;
  padding: 2rem 1.5rem 1.5rem;
  position: relative
}

.cookie-bar-privacy-popup__dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  display: block;
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer
}

.cookie-bar-privacy-popup__dialog__close:before,.cookie-bar-privacy-popup__dialog__close:after {
  content: '';
  display: block;
  width: 1rem;
  height: .25rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  margin-top: -.125rem
}

.cookie-bar-privacy-popup__dialog__close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.cookie-bar-privacy-popup__dialog__close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.cookie-bar-privacy-popup__dialog p:last-child {
  margin-bottom: 0
}

.cookie-bar--bottom-left,.cookie-bar--bottom-right,.cookie-bar--bottom {
  z-index: 100;
  position: fixed
}

.cookie-bar--bottom {
  right: 0;
  bottom: 0;
  left: 0
}

.cookie-bar--bottom-left {
  left: .9375rem
}

.cookie-bar--bottom-right {
  right: .9375rem
}

.cookie-bar--bottom-right,.cookie-bar--bottom-left {
  bottom: .9375rem
}

@media(min-width:48rem) {
  .cookie-bar--bottom-right,.cookie-bar--bottom-left {
    width: 22.5rem
  }}

@media(min-width:48rem) {
  .cookie-bar--bottom-right .cookie-bar__inner,.cookie-bar--bottom-left .cookie-bar__inner,.cookie-bar--bottom-right .cookie-bar__buttons,.cookie-bar--bottom-left .cookie-bar__buttons {
    display: block
  }}

@media(min-width:48rem) {
  .cookie-bar--bottom-right .cookie-bar__buttons,.cookie-bar--bottom-left .cookie-bar__buttons {
    margin-top: .375rem
  }}

.cookie-bar--bottom-right .cookie-bar__inner,.cookie-bar--bottom-left .cookie-bar__inner {
  line-height: 1.3
}